mixin product-card({ product, headingTag })
  - const badges = [product.sale && 'sale', product.new && 'new'].filter(Boolean)

  article.product-card&attributes(attributes)
    .product-card__link-wrapper
      #{headingTag}.product-card__heading
        a.product-card__link(href= product.sizes ? 'product-with-sizes.html' : 'product-with-colors.html')= product.title
      .product-card__images
        picture.product-card__image-wrapper-primary.media.media--cover.media--position_top.skeleton
          img.product-card__image.media__image(src= product.image width='365' height='563' alt='' loading='lazy')
        picture.product-card__image-wrapper-secondary.media.media--cover.media--position_top.skeleton
          img.product-card__image.media__image(src= product.image2 width='365' height='563' alt='' loading='lazy')
        if badges.length
          +product-badges({ badges })(class='product-card__badges product-badges--light')
        if product.sizes
          ol.product-card__sizes
            each size in ['xxs', 'xs', 's', 'm', 'l', 'xl']
              li.product-card__sizes-item(class= size !== 'xs' && size !== 'l' && 'product-card__sizes-item--active')= size
        if product.colors
          .product-card__colors
            ul.product-card__colors-list
              each color, i in product.colors
                li.product-card__colors-item(class= i === 2 && 'product-card__colors-item--disabled')
                  img.product-card__colors-image(src=`img/colors/${color}.webp` width='28' height='28' alt='')
            p.product-card__colors-counter.product-card__colors-counter--hidden
    .product-card__price-wrapper
      if product.sale
        s.product-card__price.product-card__price--old= `${product.price} ₽`
        p.product-card__price= `${product.price} ₽`
      else
        p.product-card__price= `${product.price} ₽`
    p.product-card__installments Долями по 6 995 ₽
