mixin text-field({ label, name, type, value, maxlength, placeholder, required, readonly, dataName, dataList })
  .text-field&attributes(attributes)
    label.text-field__inner
      span(class= label.hidden ? 'visually-hidden' : 'text-field__label field-label')= label.text
      span.text-field__control-wrapper
        input.text-field__control(
          name= name
          type= type
          value= value
          placeholder= placeholder
          required= required && ''
          readonly= readonly && ''
          maxlength= maxlength
          data-name= dataName
        )
    if dataList
      .text-field__data-list-wrapper
        ul.text-field__data-list
          li.text-field__data-option
            a.text-field__data-link(href='#!') г Нижний Новгород
          li.text-field__data-option
            a.text-field__data-link(href='#!') Свердловская обл, г Нижний Тагил
          li.text-field__data-option
            a.text-field__data-link(href='#!') Пензенская обл, г Нижний Ломов
          li.text-field__data-option
            a.text-field__data-link(href='#!') г Москва, ул Нижние Мневники
          li.text-field__data-option
            a.text-field__data-link(href='#!') г Москва, ул Нижние Поля
          li.text-field__data-option
            a.text-field__data-link(href='#!') г Москва, ул Нижние Растения
          li.text-field__data-option
            a.text-field__data-link(href='#!') г Москва, ул Нижние Садовники
